---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import Footer from "../layouts/footer.astro";
import EquipmentPost from "../components/projects/equipmentPost";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";
import mastheadVideo from "../assets/video/uses_masthead.mp4";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const pages = await getCollection("uses", ({ id }) => {
  return id.startsWith(lang);
});

const posts = pages.map((page) => {
  const [lang, ...slug] = page.slug.split("/");
  return {
    params: { lang, slug: slug.join("/") || undefined },
    props: page,
    data: page.data,
  };
});
---

<Layout title="Noé Rivera - Projects">
  <Body>
    <section class="relative mb-6 h-80 flex justify-center items-center">
      <div class="absolute w-full h-full overflow-hidden">
        <video
          preload="none"
          class="absolute inset-0 min-w-full min-h-full object-cover opacity-30"
          autoplay="autoplay"
          muted="muted"
          loop="loop"
          playsinline
        >
          <source src={mastheadVideo} type="video/mp4" />
        </video>
      </div>
      <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
        <div class="uppercase text-sm mb-4"></div>
        <div class="text-4xl font-mplus font-medium mb-5">
          <span class="text-cyaned-500">What I use</span>
        </div>
        <span class="">A list of the equipment that I use in everyday work</span
        >
      </div>
    </section>
    <Content>
      <main class="">
        <section class="p-2">
          <p class="mt-10 mb-10">
            As a developer, I have invested resources and time in the tools I
            use to work, play or create. Sometimes people ask me what tools I
            use. The below list are the ones I consider the most important for
            my daily work. I hope you find it useful.
          </p>
          <ul class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-10">
            {
              posts.map((eq) => (
                <li>
                  <a href={`../en/uses/` + translatePath(`${eq.params.slug}`)}>
                    <EquipmentPost
                      client:visible
                      title={eq.data.title}
                      url={eq.params.slug}
                      thumbnail={eq.data.thumbnail}
                    >
                      <span class="text-gray-400">{eq.data.description}</span>
                    </EquipmentPost>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
      <Footer />
    </Content>
  </Body>
</Layout>
