---
import ProjectCard from "@components/projects/projectCard.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pages = await getCollection("projects", ({ id }) => {
  return id.startsWith(lang);
});

const posts = await Promise.all(
  pages.map(async (page) => {
    const [lang, ...slug] = page.slug.split("/");
    let thumbnailUrl;

    if (page.data.thumbnail) {
      try {
        const thumbnailImage = await import(`../assets/${page.data.thumbnail}`);
        thumbnailUrl = thumbnailImage.default;
      } catch (error) {
        console.error(`Failed to load image: ${page.data.thumbnail}`, error);
      }
    }

    return {
      params: { lang, slug: slug.join("/") || undefined },
      props: page,
      data: { ...page.data, thumbnailUrl },
    };
  }),
);
---

<main class="flex items-center justify-center">
  <section class="w-full max-w-screen-md p-10 mt-10 sm:mx-0">
    <h1 class="text-4xl font-medium font-mplus mb-8">
      <span class="text-cyaned-500">{t("works.heading")}</span>
    </h1>
    <p class="mb-8 text-lg">{t("works.description")}</p>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-14">
      {
        posts.map((project) => (
          <li>
            <a href={`/${project.params.lang}/works/${project.params.slug}`}>
              <ProjectCard
                title={project.data.title}
                url={project.data.website}
                thumbnail={project.data.thumbnailUrl}
                client:load
              >
                {project.data.description}
              </ProjectCard>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</main>

