---
import Layout from "../layouts/Layout.astro";
import Body from "../components/Body.astro";
import NavigationBar from "../components/navigationBar/navigationBar.astro";
import Content from "../components/Content.astro";
import { IoLogoGithub } from "react-icons/io5/index.js";
import { IoChevronBackOutline } from "react-icons/io5/index.js";
import Footer from "./footer.astro";
export interface Props {
  content: {
    title: string;
    description: string;
    thumbnail?: string;
    githubLink: string;
    website?: string;
    platform: string;
    stack: string;
  };
}
const {
  content: {
    title,
    description,
    thumbnail,
    githubLink,
    website,
    platform,
    stack,
  },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Layout title={"Noé Rivera - " + title} />

  <Body>
    <NavigationBar />
    <main class="pt-[56px]">
      <Content className="pt-6 px-8">
        <span class="my-10">
          <a
            href="/projects"
            class="dark:text-cyaned-500 text-blue-500 text-md"
          >
            <IoChevronBackOutline className={"inline"} /> Projects</a
          >
        </span>
        <div class="mb-8">
          {
            thumbnail && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={thumbnail}
                alt=""
              />
            )
          }
        </div>
        <h1 class="text-3xl my-1 font-quicksand">{title}</h1>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />

        <ul class="flex flex-col gap-2 my-5 text-sm font-portal">
          <li>
            <span
              class="text-cyaned-500 bg-green-300 rounded-lg dark:bg-cyaned-900 dark:text-green-300 p-1"
              >Website</span
            >
            <a
              class="ml-1 dark:text-pink-400 text-blue-500"
              href={website !== "" ? website : ""}
              target="_blank">{website ? website : "Not available"}</a
            >
          </li>
          <li>
            <span
              class="text-cyaned-500 bg-green-300 rounded-lg dark:bg-cyaned-900 dark:text-green-300 p-1"
              >Platform</span
            >
            <span class="ml-1">{platform}</span>
          </li>
          <li>
            <span
              class="text-cyaned-500 bg-green-300 rounded-lg dark:bg-cyaned-900 dark:text-green-300 p-1"
              >Stack</span
            >
            <span class="ml-1">{stack}</span>
          </li>
        </ul>
        <slot />
        <span
          class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl list-disc"
        ></span>

        <ul class="flex flex-row mt-10">
          <li class="inline-block">
            <a
              href={githubLink}
              target="_blank"
              class="bg-cyaned-50 dark:text-cyaned-500 text-cyaned-700 font-portal py-2 px-4 rounded-lg dark:bg-cyaned-900"
            >
              <span style="font-size: 18px;">
                <IoLogoGithub className={"inline"} />
              </span>
              <span class="mx-2"> Source</span>
            </a>
          </li>
        </ul>
      </Content>
    </main>
  </Body>
  <Footer />
</html>
